<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">AlexFrye!</property>
        <property name="hibernate.connection.url">jdbc:mysql://25.7.50.219:3306/houseofcards</property>
        <property name="hibernate.connection.username">afrye</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.houseofcards.entities.generated.Logininfo"/>
        <mapping class="com.houseofcards.entities.generated.Userrole"/>
        <mapping class="com.houseofcards.entities.generated.Products"/>
        <mapping class="com.houseofcards.entities.generated.Mtgrarity"/>
        <mapping class="com.houseofcards.entities.generated.Productimage"/>
        <mapping class="com.houseofcards.entities.generated.Events"/>
        <mapping class="com.houseofcards.entities.generated.Mtgsetseries"/>
        <mapping class="com.houseofcards.entities.generated.Pokemonsetseries"/>
        <mapping class="com.houseofcards.entities.generated.User"/>
        <mapping class="com.houseofcards.entities.generated.Pokemonrarity"/>
        <mapping class="com.houseofcards.entities.generated.Discount"/>
        <mapping class="com.houseofcards.entities.generated.Cardcondition"/>
        <mapping class="com.houseofcards.entities.generated.Ygocards"/>
        <mapping class="com.houseofcards.entities.generated.Ygosetseries"/>
        <mapping class="com.houseofcards.entities.generated.Discountedproducts"/>
        <mapping class="com.houseofcards.entities.generated.Sale"/>
        <mapping class="com.houseofcards.entities.generated.Customercardinventory"/>
        <mapping class="com.houseofcards.entities.generated.Pokemoncards"/>
        <mapping class="com.houseofcards.entities.generated.Premiumcustomerdetails"/>
        <mapping class="com.houseofcards.entities.generated.Paymentdetails"/>
        <mapping class="com.houseofcards.entities.generated.Saleitems"/>
        <mapping class="com.houseofcards.entities.generated.Mtgcards"/>
        <mapping class="com.houseofcards.entities.generated.Ygorarity"/>
    </session-factory>
</hibernate-configuration>
