<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!--  
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
	-->
	
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
            
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <!-- <script src="../static/js/CountId/countid.js" th:src="@{/js/CountId/countid.js}"></script> -->
    
          
          
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css"  th:href="@{/css/bootstrap.css}" rel="stylesheet">
    

    
    
    <script src="../static/jquery/jquery.js"  th:src="@{/jquery/jquery.js}"></script>
    <script src="../static/js/bootstrap.bundle.js"  th:src="@{/js/bootstrap.bundle.js}"></script>
    
    
    
    <!-- bxSlider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  	
    <!-- Custom styles for this template - we have added onto this stylesheet -->
    <link href="../static/css/shop-homepage.css"  th:href="@{/css/shop-homepage.css}" rel="stylesheet">
      	
    
    <script src="../static/tabsPlugin/jquery.tabs.js" th:src="@{/tabsPlugin/jquery.tabs.js}"></script>
        
    <link rel="stylesheet" href="../static/jquery.tabs.css" th:href="@{/tabsPlugin/jquery.tabs.css}"/>
    
    
    <!-- Any included links/scripts/css that will be on all/most pages will go here -->          
</head>


<body>

</body>
</html>