<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
            
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <script src="../static/js/CountId/countid.js" th:src="@{/js/CountId/countid.js}"></script>
    
    <script src="../static/js/tabsPlugin/jquery.tabs.js" th:src="@{/js/tabsPlugin/jquery.tabs.js}"></script>
        
    <link rel="stylesheet" href="../static/js/jquery.tabs.css" th:href="@{/js/tabsPlugin/jquery.tabs.css}"/>
    
    
    <link href="../static/css/main.css"
          th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
          
          
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/shop-homepage.css"  th:href="@{/css/shop-homepage.css}" rel="stylesheet">
    
    <script src="../static/jquery/jquery.min.js"  th:src="@{/jquery/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.bundle.min.js"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
    <!-- Any included links/scripts/css that will be on all/most pages will go here -->          
</head>


<body>

</body>
</html>