<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
<body>
	 <!-- This is the Top Products of the Day/Week/Whatever that will show on the home page. -->	

	<div th:fragment="topproducts" class="topproducts">
		
		<div class="container-fluid">
		<div class="row">
			
			
			<div class="col-lg-4 col-md-6 mb-4">
	            <div class="card h-100">
	                <a href="#">
	                    <img class="card-img-top" src="../static/images/bolt.jpg"
	                         th:src="@{/images/bolt.jpg}" alt="">
	                </a>
	                <div class="card-body">
	                    <h4 class="card-title"> <a href="#">Item One</a> </h4>
	                    <h5>$24.99</h5>
	                    <p class="card-text">
	                        Lorem ipsum dolor sit amet, consectetur
	                        adipisicing elit. Amet numquam aspernatur!
	                    </p>
	                </div>
	                <div class="card-footer">
	                    <small class="text-muted">★ ★ ★ ★ ☆</small>
	                </div>
	            </div>
	        </div>
	        
	        
	        
	        
	        <div class="col-lg-4 col-md-6 mb-4">
	            <div class="card h-100">
	                <a href="#">
	                    <img class="card-img-top" src="../static/images/jace.jpg"
	                          th:src="@{/images/jace.jpg}"alt="">
	                </a>
	                <div class="card-body">
	                    <h4 class="card-title"> <a href="#">Item Two</a> </h4>
	                    <h5>$24.99</h5>
	                    <p class="card-text">
	                        Lorem ipsum dolor sit amet, consectetur
	                        adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor
	                        sit amet.
	                    </p>
	                </div>
	                <div class="card-footer">
	                    <small class="text-muted">★ ★ ★ ★ ☆</small>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 mb-4">
	            <div class="card h-100">
	                <a href="#">
	                    <img class="card-img-top" src="../static/images/em.jpg"
	                         th:src="@{/images/em.jpg}" alt="">
	                </a>
	                <div class="card-body">
	                    <h4 class="card-title"> <a href="#">Item Three</a> </h4>
	                    <h5>$24.99</h5>
	                    <p class="card-text">
	                        Lorem ipsum dolor sit amet, consectetur
	                        adipisicing elit. Amet numquam aspernatur!
	                    </p>
	                </div>
	                <div class="card-footer">
	                    <small class="text-muted">★ ★ ★ ★ ☆</small>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 mb-4">
	            <div class="card h-100">
	                <a href="#">
	                    <img class="card-img-top" src="../static/images/doom.jpg"
	                         th:src="@{/images/doom.jpg}" alt="">
	                </a>
	                <div class="card-body">
	                    <h4 class="card-title"> <a href="#">Item Four</a> </h4>
	                    <h5>$24.99</h5>
	                    <p class="card-text">
	                        Lorem ipsum dolor sit amet, consectetur
	                        adipisicing elit. Amet numquam aspernatur!
	                    </p>
	                </div>
	                <div class="card-footer">
	                    <small class="text-muted">★ ★ ★ ★ ☆</small>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 mb-4">
	            <div class="card h-100">
	                <a href="#">
	                    <img class="card-img-top" src="../static/images/hoof.jpg"
	                         th:src="@{/images/hoof.jpg}" alt="">
	                </a>
	                <div class="card-body">
	                    <h4 class="card-title"> <a href="#">Item Five</a> </h4>
	                    <h5>$24.99</h5>
	                    <p class="card-text">
	                        Lorem ipsum dolor sit amet, consectetur
	                        adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor
	                        sit amet.
	                    </p>
	                </div>
	                <div class="card-footer">
	                    <small class="text-muted">★ ★ ★ ★ ☆</small>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 mb-4">
	            <div class="card h-100">
	                <a href="#">
	                    <img class="card-img-top" src="../static/images/path.jpg"
	                         th:src="@{/images/path.jpg}" alt="">
	                </a>
	                <div class="card-body">
	                    <h4 class="card-title"> <a href="#">Item Six</a> </h4>
	                    <h5>$24.99</h5>
	                    <p class="card-text">
	                        Lorem ipsum dolor sit amet, consectetur
	                        adipisicing elit. Amet numquam aspernatur!
	                    </p>
	                </div>
	                <div class="card-footer">
	                    <small class="text-muted">★ ★ ★ ★ ☆</small>
	                </div>
	            </div>
	        </div>
	        
	        
	        
			
		</div>
		</div>
	</div>

 
</body>
</html>