<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    
    <!--/*/ <th:block th:include="fragments/headincludes :: head"></th:block> /*/-->
    
	<link href="../static/css/products.css" th:href="@{/css/products.css}" rel="stylesheet" media="screen"/>
	
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div class="row">
        
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"><a href="/product/${product.productId}">Id</a></td>
                
                <td th:text="${product.productName}">Product Name</td>
                <td th:text="${product.description}">Description</td>
                <td th:text="${product.price}">Price</td>
                <td><img class="product-thumbnail" th:src="@{__${product.imageUri}__}"></td>
                <td><a th:href="${ '/product/' + product.productId}">View</a></td>
                <td><a th:href="${'/product/edit/' + product.productId}">Edit</a></td>
            </tr>
        </table>

    </div>
    
    <div th:unless="${not #lists.isEmpty(products)}">
    	<h2>Products List is Empty</h2>
    </div>
    
    
    </div>
    
</div>

</body>
</html>