<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
    
    
    <!--/*/ <th:block th:include="fragments/headincludes :: head"></th:block> /*/-->
        
    <link href="../static/css/registration.css" th:href="@{/css/registration.css}" rel="stylesheet" media="screen"/>
	
</head>
<body>
	
	
	<!-- This is where the top navigation bar is held.. -->
	
	<header><!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/--></header>
    
    
    <!-- Start each page body with these two divs.. Also the next div and leftnav -->
    <div class="container">
    	<div class="row">
    	
    	
    	<!-- This is the left vertical navigation menu. -->
    		<div class="col-lg-2">    		
        		<leftnav><!--/*/ <th:block th:include="fragments/leftnav :: leftnav"></th:block> /*/--></leftnav>
        	</div>
        	
        	
        	        	
         	<!-- Actual Page Body Content goes here -->
        
        
        	<div class="col-lg-6">
        	
	        	<h1>User Registration</h1>
	        	    		
	    		<p th:if="${param.error}" class="alert alert-error">    
	                Invalid username or password.
	            </p>
	            <p th:if="${param.logout}" class="alert alert-success"> 
	                You have been logged out.
	            </p>
    		
		    
		        <form class="form-horizontal" th:object="${newUser}" th:action="@{/register}" method="post">
		            
		            <div class="form-group">
		                <label for="username" class="col-sm-5 control-label">First Name:</label>
		                <div class="col-sm-7">
		                    <input type="text" class="form-control" id="fName" name="fName" autofocus="autofocus" th:field="*{firstName}"/>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="username" class="col-sm-5 control-label">Last Name:</label>
		                <div class="col-sm-7">
		                    <input type="text" class="form-control" id="lName" name="lName" th:field="*{lastName}"/>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="username" class="col-sm-2 control-label">Username:</label>
		                <div class="col-sm-7">
		                    <input type="text" class="form-control" id="username" name="username" th:field="*{logininfo.username}"/>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Password:</label>
		                <div class="col-sm-7">
		                    <input type="password" class="form-control" id="password" name="password" th:field="*{logininfo.password}"/>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label class="col-sm-5 control-label">Confirm Password:</label>
		                <div class="col-sm-7">
		                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"/>
		                </div>
		            </div>
		            
		            
		            <div class="form-group row">
		                <label class="col-sm-5">Do you want to be a Premium User?</label>
		                
	                	<label for="premiumUser" class="form-control col-sm-3">Premium
	                    <input type="checkbox" class="" id="premiumUser" name="premiumUser"/>
	                	</label>
	                	
	                	<button><span class="question-icon">&nbsp;&nbsp;&nbsp;<img width="25px" th:src="@{/images/ui/questionmarkicon.png}" /></span></button>
	                	<div class=" form-group premium-explaination col-sm-9 form-control" >
                	
                		<p class="premium-explaination-text" style="display:none">
                		A premium user has extra features that normal users do not. 
                		You can create and maintain a list of your cards and products in your own database.
                		<br>
                		Premium membership costs just $5.00 a month!
                		</p>
                	</div>
		            </div>
		            
                	
		            
		            
		            <br><br>
		            <div class="form-group">
		                <div class="col-sm-3">
		                    <input type="submit" class="form-control btn btn-default bg-dark text-white" value="Submit" />
		                </div>
		            </div>
		            
		        </form>
		   	</div>
        
        
       
    		<!-- You can insert more row divs if you want more rows in the first "row" the first
    		"row is mostly just to get all content lined up -->
    
    
    
    		<!-- Then end the content with the closing divs for container and row.. You can 
    		Also add more rows after this if needed, but we shouldnt need to. -->
    		
    	</div>
    </div>
    
    
    
    
    <!-- Footer is held in this fragment -->
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
    
</body>
</html>
