<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    
    <!--/*/ <th:block th:include="fragments/headincludes :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <h1>Test page for tests.....</h2>
    
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>User List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Premium</th>
                <th>Email</th>
                
                <th>Loginnfo</th>
                
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.pkUserId}"></td>
                
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
				<td th:text="${user.phoneNumber}"></td>
				<td th:text="${user.isPremium}"></td>
				<td th:text="${user.email}"></td>
				
				<td th:text="${user.logininfo.userrole.roleType}"></td>
				
            </tr>
        </table>

    </div>
        
        
        
    
        

    
    
</div>
<h2>Sale List</h2>
        <table class="table table-striped">
            <tr>
                <th>User First Name</th>
                <th>Total</th>
                
                
            </tr>
            <tr th:each="sale : ${sales}">
                <td th:text="${sale.user.firstName}"></td>
                
                <td th:text="${sale.saleTotal}"></td>
                
            </tr>
        </table>
</body>
</html>