<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>My Cards</title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <!--/*/ <th:block th:include="fragments/headincludes :: head"></th:block> /*/-->
    
	<link href="../static/css/products.css" th:href="@{/css/products.css}" rel="stylesheet" media="screen"/>
	
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div class="row">
    	<div class="col-lg-2">
        	<leftnav><!--/*/ <th:block th:include="fragments/leftnav :: leftnav"></th:block> /*/--></leftnav>
        	
        	<div sec:authorize="hasAuthority('Premium')" >
        		<div class="nav-item"><a class="nav" th:href="@{'/premium/cards/new/' + __${premiumcustomerdetails.pkPremiumId}__}"><button class="form-control btn btn-default bg-dark text-white">Add New Card</button></a></div>
        	</div>
        </div>
        
    <div class="col-lg-10">
        
    <div th:if="${not #lists.isEmpty(cards)}">
        <h2>My Cards</h2>
        <table class="table table-striped">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>My Notes</th>                
                <th>Quantity</th>
                
                <th>Image</th>
                
                <th>View</th>
                
                <!-- Only if user is admin -->
                <th sec:authorize="hasAuthority('Premium')" >Edit</th>
                <th sec:authorize="hasAuthority('Premium')" >Remove</th>
                
            </tr>
            <tr th:each="card : ${cards}">
                <td th:text="${card.products.pkProductId}"><a href="${'/product/' + product.pkProductId}">Id</a></td>
                
                <td th:text="${card.products.productName}">Product Name</td>
                <td th:text="${card.notes}">Notes</td>
                <td th:text="${card.quantity}">Price</td>
                <td><img class="product-thumbnail" th:src="@{__${card.products.thumbnailUri}__}" style="cursor:zoom-in" onclick="onClick(this)"></td>
                <td><a th:href="${ '/product/' + card.products.pkProductId}">View</a></td>
                
                <!-- Only if user is admin -->
                <td sec:authorize="hasAuthority('Premium')" ><a th:href="${'/premium/cards/edit/' + card.pkCustCardInvId}">Edit</a></td>
                <td sec:authorize="hasAuthority('Premium')" ><a th:href="${'/premium/cards/delete/' + card.pkCustCardInvId}">Remove</a></td>
                
            </tr>
        </table>


	<div id="modalView" class="w3-modal " onclick="this.style.display='none'">
		<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
		<div class="w3-modal-content w3-animate-zoom" style="max-width:35em">
 			<img id="modalImage" width="100%">
		</div>
	</div>        
    <script>
    function onClick(element) {
       	document.getElementById("modalImage").src = element.src;
        document.getElementById("modalView").style.display = "block";
    }
    </script>
    </div>
    
    <div th:unless="${not #lists.isEmpty(cards)}">
    	<h2>Products List is Empty</h2>
    </div>
    
    
    </div>
    
</div>
</div>
<!-- Footer -->
    <footer class="py-5 bg-dark">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>

</body>
</html>